body {
    padding: 0;
    margin: 0;
    background-color: #A36E0B;
}

/* Header Styles */
header {
    background-color: #E9B649;
    padding: 3rem 4rem;
    background-image: url('../images/wallpaper.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

nav {
    background-color: #420101;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    padding-right: 2rem;
    padding-left: 1rem;
}

nav li a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

nav li a:hover {
    color: yellow;
}

.welcome-banner {
    background-color: tomato;
    width: fit-content;
    color: black;
    padding: 1rem 2rem;
    font-family: "Open Sans", Georgia, serif;
}

/* Welcome Styles */
#welcome {
    background-color: #A36E0B;
    padding: 2rem;
}

.welcome-box {
    display: flex;
    justify-content: flex-end;
}

.welcome-text {
    background-color: #00A8BF;
    padding: 0.5rem 2rem;
    color: #420101;
    text-align: center;
}

.welcome-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.welcome-image {
    width: 30%;
    min-width: 8rem;
    height: auto;
    padding: 0.25rem;
}

.caption-box {
    background-color: tomato;
    color: #420101;
    width: fit-content;
    padding: 0.5rem 3rem;
}

/* Neightborhood Styles */
#neighborhood {
    background-image: url('../images/eastern-parkway.jpeg');
    background-size: contain;
    background-color: #E9B649;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    display: flex;
    justify-content: right;
}

.neighborhood-text {
    background-color: #00A8BF;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 0.5rem 2rem;
}

/* Footer Styles */
footer {
    background-color: #420101;
    color: #E9B649;
    padding: 3rem;
}

/* Learn Go Page styles */
#intro {
    background-color: #420101;
    color: white;
    padding: 1rem 2rem;
    width: 750px;
    font-family: "Zilla Slab", serif;
    margin: 1rem 2rem;
}

#intro h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.video-tutorial {
    width: fit-content;
    padding: 1rem 2rem;
    margin: 3rem auto;
    font-family: "Zilla Slab", serif;
}

.blue {
    background-color: #00A8BF;
}

.red {
    background-color: tomato;
}

#conclusion {
    padding: 1rem 2rem;
    margin: 3rem auto;
    width: 750px;
    font-family: "Open Sans", sans-serif;
    background-color: #420101;
    color: white;
}

#conclusion a {
    text-decoration: none;
    color: white;
}

#conclusion a:hover {
    color: #E9B649;
}

#conclusion a:active {
    color: #00A8BF;
}

/* Calendar Styles */
#calendar-body {
}
#club-calendar {
    background-color: #420101;
    margin: 3rem auto;
    overflow: scroll;
}

#calendar-body h2 {
    color: #420101;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

#club-calendar td {
    height: 100px;
    width: 150px;
}

#day-names {
    color: #E9B649;
    font-family: "Montserrat", sans-serif;
}

#club-calendar .day-content {
    display: grid;
    grid-template-rows: [top] 20% [mid] 80% [bottom];
    height: 100%;
    width: 100%;
}


#club-calendar tbody {
    background-color: #E9B649;
    color: #420101;
    font-family: "Montserrat", serif;
}

#club-calendar .day-num {
    text-align: right;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    grid-row: 1 / 2;
    margin: 0;
}

#club-calendar .event {
    padding: 0 1rem;
    font-size: 0.75rem;
    grid-row: mid / bottom;
}

#club-calendar .event-time {
    font-style: italic;
}

#club-calendar .blurb-box {
    display: none;
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.75);
    color: #420101;
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
}

#club-calendar .blurb-box p {
    padding-left: 0.25rem;
    padding-top: 0.25rem;
}

#club-calendar .meeting-day:hover .blurb-box, #club-calendar .tournament-day:hover .blurb-box{
    display: block;
}

#club-calendar .meeting-day:hover .day-content, #club-calendar .tournament-day:hover .day-content {
    display: none;
}

#club-calendar .blurb-box a {
    text-decoration: none;
    margin: 0;
    color: #420101;
}

#club-calendar .blurb-box a:hover {
    text-decoration: underline;
}

#club-calendar .blurb-box a:active {
    color: #00A8BF;
}

/* Sign Up Page styles */
#sign-up-banner {
    background-color: #00A8BF;
    color: #420101;
    font-family: Rubik, sans-serif;
    width: fit-content;
    padding: 1rem 2rem;
    margin-left: 15rem;
}

#sign-up-blurb {
    background-color: tomato;
    color: #420101;
    font-family: "Zilla Slab", serif;
    padding: 1rem 2rem;
    margin: 2rem auto;
    width: fit-content;
}
